<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TourCo</title>
</head>
<body>
    {% include "menuprincipal.html"%}
    {% block contenido %}
        Reeplazame
    {% endblock contenido %}
</body>
</html>